<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="nav-link" routerLink="/dishes/4001">
            <div class="features-icons-icon d-flex">
              <img src="../assets/categoryGrids/startersIcon.png" class="img-responsive categoryGrids-icon">      
            </div>
            <h3>Starters</h3>
            <p class="lead mb-0">Salads, Soups & lots more</p>
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a class="nav-link" routerLink="/dishes/4002">
            <div class="features-icons-icon d-flex">
              <img src="../assets/categoryGrids/mainCourseIcon.png" class="img-responsive categoryGrids-icon">
            </div>
            <h3>Main Course</h3>
            <p class="lead mb-0">Now your talking... Meat & stuff!</p>
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <a class="nav-link" routerLink="/dishes/4003">
            <div class="features-icons-icon d-flex">
              <img src="../assets/categoryGrids/sideDishIcon.png" class="img-responsive categoryGrids-icon">
            </div>
            <h3>Side Dish</h3>
            <p class="lead mb-0">The basics! Carbs are the enemy etc.</p>
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <a class="nav-link" routerLink="/dishes/4004">
            <div class="features-icons-icon d-flex">
              <img src="../assets/categoryGrids/desertIcon.png" class="img-responsive categoryGrids-icon">
            </div>
            <h3>Deserts</h3>
            <p class="lead mb-0">And then some</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
