<div class="container" dir="rtl">

  <div class="recipeHeader text-center">
    <h1>{{recipe.name}}</h1>
  </div>

  <div class="row">
      <div id="ingredients" class="col-md-4">
          <h2 class="pull-right">מצרכים</h2>
      
          <div>
            <div class="input-group mb-3" *ngFor="let ingredient of recipe.ingredients">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="ingredient.name" [(ngModel)]="ingredient.checked">
                </div>
              </div>
              <input type="text" class="form-control" [(ngModel)]="ingredient.text" [ngClass]="{ 'checked': ingredient.checked }" aria-label="ingredient.name"
                disabled>
            </div>
          </div>
        </div>
      
        <!-- TODO: Should make use of this carousel to present phots people will upload of each dish -->
        <div id="images" class="col-md-6" *ngIf="isCarousel">
            <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item" *ngFor="let image of recipe.images; let first=first; let i=index;" [attr.data-slide-to]="i" [ngClass]="{'active': first}">
                  <img class="d-block w-100" src="{{image}}?auto=yes&bg=777&fg=555" alt="{{image}}">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
  </div>

  

  <div class="mt-8" id="instructions">
    <h2 class="row">אופן הכנה</h2>

    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item text-right instructionItem" [ngClass]="{ 'active': instruction.active }" *ngFor="let instruction of recipe.instructions"
          (click)="markActiveInstruction(instruction.order)">
          {{instruction.order + 1}}) {{instruction.description}}
        </li>
      </ul>
    </div>
  </div>
  
  

</div>
