<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark static-top" dir="rtl">
  <div class="navbar navbar-dark bg-dark navBarContent">
    
    <div class="navBarItem text-center">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">בית</a>
    </div>
    <div class="navBarItem text-center">
        <a class="navbar-brand" routerLink="/dishes" routerLinkActive="active">מתכונים</a>
    </div>
    
  </div>
</nav>

<div class="appDiv">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer bg-dark">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-6 text-lg-left credit">
        <p class="text-white small font-weight-bold">In Memory Of A Dear Wife And Our Loving Mother, Eti Raz (1950-2017).</p>
        <p class="text-white small mb-4 mb-lg-0">&copy; Ido Raz 2017 All Rights Reserved.</p>
      </div>
      
    </div>

  </div>
</footer>
