<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark static-top">
  <div class="navbar navbar-dark bg-dark navBarContent">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="navbar-brand" routerLink="/dishes" routerLinkActive="active">Dishes</a>
  </div>
</nav>

<div class="appDiv">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer bg-dark">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-6 text-lg-left credit">
        <h4 class="text-white font-weight-bold small">In loving memory of our mother, Eti Raz (1950-2017).</h4>
        <p class="text-white small mb-4 mb-lg-0">&copy; Ido Raz 2017 All Rights Reserved.</p>
      </div>
      <div id="footerImage" class="col-lg-6 text-lg-right">
          <img src="../assets/main/footerPic.jpg">
      </div>
      
    </div>

  </div>
</footer>
