.appDiv {
  min-height: calc(100vh - 160px - 72px);  
}

#footerImage img{
  max-width: 150px;
  max-height: 150px;
}

.navBarContent {
  margin-right: 400px;  
}

:host /deep/ .navbar-brand {
  margin-right: 0px;
}

.navBarItem {
  padding: 0 10px;
  width: 100px;
}
.navBarItem:hover, .navBarItem:focus {
  background-color: #828a99;
}

.footer {
  padding: 10px 10px;
  min-height: calc(100vh - 844px);
}

.credit {
  margin-top: 18px;
}

@media only screen and (max-width: 1366px) {
  .navBarContent {
    margin-right: 300px;
  }  
}