<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-4">Mom's Kitchen</h1>
        <h2 class="mb-4">You are welcome to browse through our recipes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <p-autoComplete name="searchToken" [(ngModel)]="recipeObj" [size]="inputSize" placeholder="Look for a dish..." [suggestions]="searchResults" (completeMethod)="searchRecipe($event)" field="name"></p-autoComplete>
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary" (click)="showRecipe(recipeObj)">הצג</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<app-category-grids></app-category-grids>